@model Froky.Models.USUARIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Menubar.cshtml";
}

<h2>Details</h2>

<div>
    <h4>USUARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_DE_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_DE_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_DE_NASCIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_DE_NASCIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_MAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SENHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SENHA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_USUARIO }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
