@model Froky.Models.USUARIO
@{
    Layout = null;
}

<link href="~/Content/CSS/Formulários.css" rel="stylesheet" />
<link href="~/Content/CSS/Personaliza.css" rel="stylesheet" />
<link href="~/Content/CSS/MenubarCSS.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width" />


<title>Froky</title>
<br />
<div class="form-container">
    @using (Html.BeginForm("LogIn", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="panel panel-primary">

            <div class="Cor-Formulario">
                <div class="panel-heading">
                    <br />
                    <h4>Preencha com as informações de log-in</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6">

                        @Html.LabelFor(a => a.E_MAIL)
                        @Html.EditorFor(Model => Model.E_MAIL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(a => a.E_MAIL)

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(a => a.SENHA)
                        @Html.EditorFor(Model => Model.SENHA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(a => a.SENHA)
                    </div>
                </div>


            </div>
            <div class="panel-footer ">
                <input type="submit" class="btn muda-btn-primary ">

            </div>
        </div>
        
    }


</div>


